<form onSubmit={handleuploadVideo}>
    <label
        htmlFor="video"
        className="form__lable"
    >
        {previewURL ?
            (
                <iframe src={previewURL} controls={false} className="iframe-video"></iframe>
            )
            :
            (
                <>
                    <!-- <FileVideo className="w-4 h-4" /> -->
                    <i class="fas fa-video"></i>
                    Selecione um video
                </>
            )};
    </label>

    <input type="file" id="video" accept="video/mp4" onChange={handleFileSelected} />

    <Separator />
    <div className="form__div">
        <Label htmlFor="transcription_prompt">Prompt de transcrição</Label>
        <Textarea
            ref={promptInputRef}
            disabled={status !== "waiting"}
            id="transcription_prompt"
            placeholder="Inclua plavras-chaves mencionadas no video separadas por vírgula (,)"
        />
        <Button
            data-success={status === "success"}
            disabled={status !== "waiting"}
            type="submit"
            className={`${status === "success" ? 'bg-success' : 'btn-primary'}`} 
        >
            {
                status === "waiting" ? (
                    <>
                        Carregar video
                        <!-- <Upload className="w-4 h-4 ml-2" /> -->
                        <i class="fas fa-upload"></i>
                    </>
                ) : statusMessage[status]}
        </Button>
    </div>
</form >